<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Adicionar Tutor</h2>
    <form action="/add_tutor" method="post">
        Nome: <input type="text" name="nome" required><br>
        Endereço: <input type="text" name="endereco" required><br>
        Modo de Pagamento: <input type="text" name="modo_pagamento" required><br>
        Telefone: <input type="text" name="telefone" required><br>
        Email: <input type="email" name="email" required><br>
        <input type="submit" value="Adicionar Tutor">
    </form>
</body>

</html>