<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Adicionar Veterinário</h2>
    <form action="/add_veterinario" method="post">
        Nome: <input type="text" name="nome" required><br>
        Especialidade: <input type="text" name="especialidade" required><br>
        Telefone: <input type="text" name="telefone" required><br>
        Email: <input type="email" name="email" required><br>
        <input type="submit" value="Adicionar Veterinário">
    </form>
    </form>
</body>

</html>