<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Veterinária</title>

</head>

<body>
    <h1>Clínica Veterinária</h1>

    <h2>Tutores</h2>
    <ul>
        {% for tutor in tutors %}
        <li>{{ tutor['nome'] }} - {{ tutor['telefone'] }}</li>
        {% endfor %}
    </ul>

    <h2>Animais</h2>
    <ul>
        {% for animal in animais %}
        <li>{{ animal['nome'] }} - {{ animal['raca'] }} - {{ animal['idade'] }}</li>
        {% endfor %}
    </ul>

    <h2>Veterinários</h2>
    <ul>
        {% for veterinario in veterinarios %}
        <li>{{ veterinario['nome'] }} - {{ veterinario['especialidade'] }} - {{ veterinario['telefone'] }}</li>
        {% endfor %}
    </ul>

    <h2>Adicionar Tutor</h2>
    <form action="/add_tutor" method="post">
        Nome: <input type="text" name="nome" required><br>
        Endereço: <input type="text" name="endereco" required><br>
        Modo de Pagamento: <input type="text" name="modo_pagamento" required><br>
        Telefone: <input type="text" name="telefone" required><br>
        Email: <input type="email" name="email" required><br>
        <input type="submit" value="Adicionar Tutor">
    </form>

    <h2>Adicionar Animal</h2>
    <form action="/add_animal" method="post">
        Nome Tutor: <input type="text" name="Nome Tutor" required><br>
        Nome: <input type="text" name="nome" required><br>
        Peso: <input type="text" name="peso" required><br>
        Raça: <input type="text" name="raca" required><br>
        Tamanho: <input type="text" name="tamanho" required><br>
        Idade: <input type="text" name="idade" required><br>
        Problema de Saúde: <input type="text" name="problema_saude"><br>
        <input type="submit" value="Adicionar Animal">
    </form>

    <h2>Adicionar Veterinário</h2>
    <form action="/add_veterinario" method="post">
        Nome: <input type="text" name="nome" required><br>
        Especialidade: <input type="text" name="especialidade" required><br>
        Telefone: <input type="text" name="telefone" required><br>
        Email: <input type="email" name="email" required><br>
        <input type="submit" value="Adicionar Veterinário">
    </form>

    <a href="/cadastrar-tutor"> cadastrar tutor Teste</a>
</body>

</html>